@page "/"
@using Reciclaje.Info.Client.Services
@using Reciclaje.Info.Shared.Dto
@using Reciclaje.Info.Shared.Utils


@inject HttpClient client
@inject ISnackbar Snackbar
@inject IEquipamientoService servicio

<div class="d-flex">
	<MudIconButton Icon="@Icono" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" class="mr-3" />
	<MudText Typo="Typo.h5" GutterBottom="true"> @Titulo </MudText>
</div>


<MudTextField @bind-Value="@Descripcion" Label="Describa aquí su residuo..." Variant="Variant.Text" Adornment="Adornment.End"
			  AdornmentIcon="@Icons.Filled.Search"
			  AdornmentColor="Color.Secondary"
			  TextChanged="FindDataAsync"
			  Class="mb-4" />

@if (datos == null)
{
	<MudText Typo="Typo.subtitle2" GutterBottom="true"> @SubTitulo </MudText>
}


@if (!cargado)
{
	<MudOverlay Visible="esVisible" DarkBackground="true" Absolute="true" ZIndex="9999">
		<MudProgressCircular Color="Color.Secondary" Indeterminate="true" />
	</MudOverlay>
}
else
{
	@if (datos != null && datos.Equipamientos!.Any())
	{
		<MudExpansionPanels Elevation="1" DisableBorders="true" Class="mt-6">
			@foreach (var item in datos.Equipamientos!)
			{
				<MudExpansionPanel IsInitiallyExpanded="true">
					<TitleContent>
						<div class="d-flex">
							<MudAvatar Style="font-size: 1rem;" Color="Color.Default" Variant="Variant.Outlined" Class="mr-3" Image=@item.Avatar> </MudAvatar>
							<MudText Typo="Typo.h6"> <strong> @item.Titulo</strong></MudText>



						</div>
					</TitleContent>
					<ChildContent>
						<MudText Typo="Typo.subtitle1"> <strong>Tipología de residuos que puedes incluir en este tipo de equipamiento.</strong></MudText>
						@foreach (var item2 in @item.Residuos.Split("#"))
							{
								<MudText Typo="Typo.body2">@item2</MudText>								
							}
						
					</ChildContent>
				</MudExpansionPanel>
				
			}

		</MudExpansionPanels>
	}

}


@code {
	public string? Descripcion { get; set; } = string.Empty;
	public string? Titulo { get; set; }
	public string? SubTitulo { get; set; }
	public string? Icono { get; set; }


	private EquipamientosDto? datos;
	private Boolean cargado;
	private Boolean esVisible;
	private char[] caracteresDel = { ' ', ',', '.', ':', '/' };

	protected override Task OnInitializedAsync()
	{
		Titulo = servicio.Titulo;
		SubTitulo = servicio.SubTitulo;
		Icono = servicio.Icono;
		return base.OnInitializedAsync();
	}

	private async Task FindDataAsync()
	{
		Snackbar.Clear();
		if (String.IsNullOrWhiteSpace(Descripcion)) return;
		int contResultados = 0;

		try
		{
			// Buscamos por descripción completa
			contResultados +=   await filtrarCriterio(Descripcion);

			if (contResultados == 0)
			{
				// Si no obtenemos resultados por descripción buscamos aproximaciones por criterios
				var criterios  = Descripcion?.Split(caracteresDel,StringSplitOptions.RemoveEmptyEntries);			
				foreach (var item in criterios!)
				{
					if (item.Count() > 2)
						contResultados +=   await filtrarCriterio(item);
				}
			}

			@if (contResultados > 0)
				{
					Snackbar.Add(string.Format("Total de equipamiento encontrado: {0}", contResultados), Severity.Success);
				}
				else
				{
					Snackbar.Add($"Opps! No hemos encontrado equipamiento en base su descripción. Pruebe con otro valor!", Severity.Info);
			}

			StateHasChanged();
		}
		catch (Exception ex)
		{
			Snackbar.Add(string.Format("Error: {0}", ex.Message), Severity.Error);
		}
		finally
		{			

			cargado = true;
		}
	}


	private async Task<int> filtrarCriterio(string criterio)
	{		

		if (!string.IsNullOrEmpty(criterio) && !string.IsNullOrWhiteSpace(criterio))
		{
			cargado = false;
			esVisible = true;
			var result = await servicio.GetDataAsync(criterio);
			if (datos == null)
			{
				datos = result;
			}
			else
			{
				foreach (var item in result?.Equipamientos!)
				{
					var value = datos?.Equipamientos!.Find(t => t.Titulo.Equals(item.Titulo));
					if (value == null)
					{
						datos?.Equipamientos!.Add(item);		
					}				
				}	
			}			
		}
		return datos!.Equipamientos!.Count();
	}
}